<h1>Orders</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Total</th>
        <th>Customer</th>
    </tr>
    <% @orders.each do |order| %>
        <tr>
            <td><%= order['id'] %></td>
            <td><%= order['status'] %></td>
            <td><%= order['total'] %></td>
            <td><%= order['billing']['first_name'] %> <%= order['billing']['last_name'] %></td>
        </tr>
    <% end %>
</table>

