<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order #</th>
      <th>Date</th>
      <th>Status</th>
      <th>Customer</th>
      <th>Items</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order['id'] %></td>
        <td><%= DateTime.parse(order['date_created']).strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= order['status'] %></td>
        <td><%= order['customer']['name'] %> (<%= order['customer']['email'] %>)</td>
        <td>
          <ul>
            <% order['line_items'].each do |item| %>
              <li>
                <a href="/product/<%= item['product_id'] %>">
                  <%= item['name'] %>
                  <% if item['variant'] %>
                    - <%= item['variant']['attributes'].map { |attr| attr['option'] }.join(', ') %>
                  <% end %>
                </a>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
